body{
    background-color: cadetblue;
}
* {
	box-sizing: border-box;
}

.column {
	display: block;
	float: left;
	width: 33.33%;
	padding: 10px;
}

.a{ 
	position: absolute; 
	left:6em;
	top: 17em;	
	
}
.number1{
	position: absolute; 
	left:9em;
	top: 30em;
	float: left;
	width: 50%;

}
button{
	margin-top:1em;
}
.number2{
	width:25%;
	position: absolute; 
	left:30em;
	top: 13em;

}
.divnumber2{
  display: inline;
	position: absolute; 
	left:34em;
	top: 30em;
	

}

.codeposition{
	position: absolute; 
	left:22em;
	top: 16.9em;	
	
}

.music{
	display:inline-block;
	margin-bottom:1.7em;
}
.number3{
	display:inline-block;
	width:25%;
	margin-top: 1.8em;
	margin-left: 4em;
}
.learn{
	margin-right:5em;
}