.Berserk {
    
    .input{
        display: flex;
        justify-content:center ;
        margin-top: 3vh;
        
    }
    .input>input{
        border-radius: 6px;
        border:1px solid #434242;
    }
    
    input:focus{
        outline:none;
        border:1px solid #222222;
    }
    
    h1 {    
        text-align: center;
        font-family: "Hobbit";
        color: #03001C;
       font-size: 48px;
    }
    
    button {
        cursor: pointer;
    }
    
    .input::-webkit-input-placeholder {
        font-family: "Hobbit"
      }
}
@font-face {
    font-family: "Hobbit";
    src: url("./Manga.ttf") format(truetype);
  }
