.StarWars{
    .input{
        display: flex;
        justify-content:center ;
        margin-top: 3vh;
        
    }
    .input>input{
        border-radius: 6px;
        border:1px solid rgba(110,123,251,1)
    }
    
    input:focus{
        outline:none;
        border:1px solid rgba(9,24,121,0.969625350140056)
    }
    
    h1 {    
        text-align: center;
        font-family: "Star Wars";
       color: #1C82AD;
       font-size: 48px;
    }
    
    button {
        cursor: pointer;
        color: #1C82AD;
    }
    
    .input::-webkit-input-placeholder {
        font-family: "Star Wars"
      }

}

@font-face {
    font-family: "Star Wars";
    src: url("./SF\ Distant\ Galaxy.ttf") format(truetype);
  }