.Page{
    text-align: center;
    width: 100%;
    height: 100vh;
    /* animation: animate 25s cubic-bezier(0.165, 0.84, 0.44, 1) infinite; */
    background-image: url(./Photos/Photo3.jpg);
    background-size:cover;
      
  }
  
  /* @keyframes animate {
    0%,100%{
      background-image: url(./Photos/Photo3.jpg);
    }
    25%{
      background-image: url(./Photos/Photo2.jpg);
    }
    50%{
      background-image: url(./Photos/photo.jpg);
    }
    75%{
      background-image: url(./Photos/ragnarok.jpg);
    }
  }
  
  @font-face {
    font-family: "Berserker";
    src: url("../GowRagnarok/Berserker-Regular.ttf") format(truetype);
  }
   */